@font-face {
  font-family: "odachi";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../public/Assets/nav/Odachi.woff) format("woff");
}

.container {
  padding: 0 0rem;
}

.mobileViewText {
  padding: 10%;
  background-color: #292929;
  font-size: 50px;
  width: 100vw;
  height: 100vh;
  color: #2FE711;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Odachi';
}